.ln {
  color: white;
}
.ln:hover {
  color: orange;
}

.ring-container {
  position: relative;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

.ringring {
  border: 2px solid white;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: -5px;
  top: -5px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
