.menu {
    display:flex;
    flex-direction:row;
    width: 100%;
    border-bottom: black;
}
@media screen and (max-width:500px) {
    .menu {
    display:flex;
    flex-direction: column;
    }
 }
   